# MSVC Windows builds of rustc generate these, which store debugging information
*.pdb

# Added by smr
*.bmp
*.jpg
*~

cedar_flutter/build
cedar_flutter/lib/generated
cedar_flutter/linux
cedar_flutter/macos
cedar_flutter/pubspec.lock
cedar_flutter/windows

