# MSVC Windows builds of rustc generate these, which store debugging information
*.pdb

# Added by smr
*.bmp
*.jpg
*~

cedar_webapp/android
cedar_webapp/build
cedar_webapp/ios
cedar_webapp/lib/generated
cedar_webapp/linux
cedar_webapp/macos
cedar_webapp/pubspec.lock
cedar_webapp/windows

