# MSVC Windows builds of rustc generate these, which store debugging information
*.pdb

# Added by smr
*.bmp
*.jpg
*~

cedar_flutter/build
cedar_flutter/lib/generated
cedar_flutter/linux
cedar_flutter/macos
cedar_flutter/pubspec.lock
cedar_flutter/windows

cedar_flutter/ios/Flutter/flutter_export_environment.sh
cedar_flutter/ios/Flutter/Generated.xcconfig
cedar_flutter/ios/Runner/GeneratedPluginRegistrant.h
cedar_flutter/ios/Runner/GeneratedPluginRegistrant.m
